@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-rust-red: #bf3707;
  --color-maroon: #701415;
  --color-grey: #585858;
  --color-sky-blue: #98c0da;
  --color-mustard: #f3c15e;
  --color-cream: #f3dfc4;
  --color-light-mustard: #fff2d9;
  --color-dark-grey: #3a3a3a;

  --font-national-park: "National Park", sans-serif;
}

body {
  font-family: var(--font-national-park);
}

h1 {
  font-size: 3rem; /* 48px */
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem; /* 36px */
  font-weight: 700;
  line-height: 1.25;
}

h3 {
  font-size: 1.75rem; /* 28px */
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-size: 1.375rem; /* 22px */
  font-weight: 600;
  line-height: 1.35;
}

h5 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  line-height: 1.4;
}

h6 {
  font-size: 1rem; /* 16px */
  font-weight: 500;
  line-height: 1.4;
}

p {
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.6;
}
